<%- include('../header') %>
<!-- Page Content -->
<div class="container">

   <!-- /.col-lg-3 -->
   <div class="col-lg-9">
    <a href="/admin/categorias/nova" class="btn btn-primary">Nova Categoria</a>
     <% categories.forEach(category =>{ %>
     <div class="card mt-4">
       <div class="card-body">
           <article class="col-sm-9">
         <h3 class="card-title"><%- category.category %></h3></article>
         <aside class="col-sm-3">
            <p>
                <a href="/admin/categorias/editar/<%- category.id %>" class="btn btn-primary">Editar</a>
                <a href="/admin/categorias/excluir/<%- category.id %>" class="btn btn-secondary" onclick="return confirm('Deseja realmente excluir?')"> Excluir</a>
            </p>
           </aside>
        </div>
     </div>
     
     <% }) %>
   </div>
   <!-- /.col-lg-9 -->

 </div>

</div><br>

<!-- /.container -->

<%- include('../../footer') %>