 <%- include('header') %>

    <!-- Page Content -->
    <div class="container">

      <div class="row">
    
        <div class="col-lg-3">
    
          <h1 class="my-4"><img class="img-fluid" src="/images/logo.png" alt="DevShop-logo"></h1>
        <div class="list-group">
          <% locals.categories.forEach(category => { %>
          <a  href="/categoria/<%- category.id %>/<%- category.slug %>" class="list-group-item"><%- category.category %></a>
          <% }) %>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          
          <ol class="carousel-indicators">   
            <% products.forEach(product => { %>
            <li data-target="#carouselExampleIndicators" data-slide-to="<%-product.id - 1 %>" <% if(product.id == 1){ %> class="active" <% } %> ></li>
            <% }) %>
          </ol>
          
          <div class="carousel-inner" role="listbox">
            <% products.forEach(product => { %>
            <div class="carousel-item <% if(product.id == 1){ %> active <% } %>">
              <img class="d-block img-fluid" src="/images/products/<%- product.image %>" alt="<%-product.name %>">
            </div>
            <% }) %>
          </div>

          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="row">
          <% products.forEach(product => { %>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100 card2">
              <a href="/produto/<%- product.id %>/slug"><img class="card-img-top" src="/images/products/<%- product.image %>" alt="<%-product.name%>"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/produto/<%- product.id %>/slug"><%- product.name %></a>
                </h4>
                <h5>R$ <%- product.price %></h5>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
          <% }) %>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  <%- include('footer') %>